NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

KEYCLOAK_CLIENT_ID=api-gateway-client
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=http://localhost:8181/realms/legal-platform

API_GATEWAY_URL=http://localhost:8080
